/* Spotboard CSS adapted for Next.js */

.spotboard-container {
    font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
    font-weight: 300;
}

.spotboard-container sup {
    vertical-align: super;
    font-size: smaller;
}

.spotboard-container .clear {
    clear: both;
}

.spotboard-container .center {
    text-align: center;
}

.spotboard-container #wrapper {
    float: left;
    position: relative;
    min-width: 100%;
}

/* header section */

.spotboard-container #header {
    width: 100%;
    border-bottom: 1px solid black;
    background: white;
    z-index: 99999;
    position: sticky;
    top: 0;
    height: 4em;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.spotboard-container .award-mode #header {
    display: none;
}

/* scoreboard */

.spotboard-container #team-list {
    position: relative;
    font-size: 0.95em;
    margin: 1em 0;
}

.spotboard-container .award-mode #team-list {
    margin-top: 0em;
}

.spotboard-container .team.target {
    position: relative;
    z-index: 100;
    background-color: #E2F08B !important;
}

.spotboard-container .team.finalized {
    background-color: rgb(189, 217, 243) !important;
}

.spotboard-container .team.finalized .problem-result {
    border-color: rgb(189, 217, 243) !important;
}

/* basic team display */
.spotboard-container div.team {
    font-size: 2.0em;
    height: 2.0em;
    display: block;
    position: absolute; /* Changed to absolute for animation */
    width: 100%;
    transition: top 0.5s ease-in-out;
}

.spotboard-container #wrapper:not(.award-mode) .team:hover {
    background-color: #E2F08B;
}

.spotboard-container .team-rank {
    display: block;
    position: relative;
    top: 0.3em;
    padding: 0;
    width: 2.5em;

    float: left;
    text-align: center;
}

.spotboard-container .suffix-st::after {
    font-size: 0.5em;
    content: "st";
    vertical-align: super;
}

.spotboard-container .suffix-nd::after {
    font-size: 0.5em;
    content: "nd";
    vertical-align: super;
}

.spotboard-container .suffix-rd::after {
    font-size: 0.5em;
    content: "rd";
    vertical-align: super;
}

.spotboard-container .suffix-th::after {
    font-size: 0.5em;
    content: "th";
    vertical-align: super;
}

.spotboard-container .solved-count {
    display: block;
    float: left;
    height: 100%;

    overflow: hidden;
    width: 1.0em;
    padding-left: 0.1em;
    font-weight: 600;

    vertical-align: bottom;
    text-align: right;
    padding-right: 0.2em;

    user-select: none;
    
    color: transparent;
    text-shadow: none;

    line-height: 140%;
    font-size: 1.4em;
    letter-spacing: -0.1em;

    margin-right: 0.3em;
}

.spotboard-container .solved-count.first {
    color: white;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0.3em;
}

.spotboard-container .team.target .solved-count,
.spotboard-container #wrapper:not(.award-mode) .team:hover .solved-count {
    background-color: transparent !important;
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
}

.spotboard-container .solved-count.last {
    border-bottom-right-radius: 0.3em;
}


.spotboard-container .team-title {
    display: block;
    position: relative;
    top: 0.5em;
    padding-right: 0.6em;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}

.spotboard-container .team-name {
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.spotboard-container div.balloons {
    float: right;
    position: relative;
    margin-right: 1em;
}

.spotboard-container .balloon {
    float: right;
    display: block;
    position: relative;
    width: 1em;
    height: 1.2em;
    top: 0.4em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -0.5em;
}

.spotboard-container div.results {
    float: right;
}

.spotboard-container .problem-result {
    float: left;
    display: block;
    position: relative;

    box-sizing: border-box;

    height: 3.3333em;
    border: 1px solid white;
    width: 2.3em;
    font-size: 0.6em;
    line-height: 450%;
    letter-spacing: -1px;
    font-weight: 600;
    color: white;

    user-select: none;

    text-align: center;
    text-shadow: none;
}

.spotboard-container .problem-result b {
    font-weight: 600;
}

.spotboard-container #wrapper:not(.award-mode) .team:hover .problem-result {
    border-color: #E2F08B;
}

.spotboard-container .problem-result b:before {
    color: #bbb;
    content: '';
    display: block;
    text-align: center;
    line-height: 120%;
    font-weight: 600;
    font-size: 1.3em;
    text-shadow: 0 0 1px rgba(153,153,153,0.5);
    position: relative;
    top: 0;
    right: 0.1em;
    float: right;
    height: 100%;
    box-sizing: border-box;
    margin-left: -0.5em;
    letter-spacing: 0px;
}

.spotboard-container .solved {
    background-color: #20660E;
    background: linear-gradient(
        180deg,
        rgba(32, 102, 14, 0.75),
        rgba(32, 102, 14, 1.0)
    );
}

.spotboard-container .solved.solved-first {
    background-color: rgb(47, 158, 68);
    background: linear-gradient(
        180deg,
        rgba(81, 207, 102, 0.75),
        rgba(43, 138, 62, 1.0)
    );
}

.spotboard-container .solved b:before {
    color: white;
    text-shadow: 0 0 1px rgba(255,255,255,0.5), 0 0 2.5px rgba(255,255,255,0.2);
}

.spotboard-container .failed {
    background-color: #A60A0A;
    background: repeating-linear-gradient(
        -45deg,
        rgba(166, 10, 10, 0.8),
        rgba(166, 10, 10, 0.8) 10px,
        #e06b66 10px,
        #e06b66 20px
    );
}

.spotboard-container .failed b:before {
    color: white;
    text-shadow: 0 0 1px rgba(255,255,255,0.5), 0 0 2.5px rgba(255,255,255,0.2);
}

.spotboard-container .pending {
    background-color: #E0B400;
    color: #555;
}

.spotboard-container .pending b:before {
    color: #555;
    text-shadow: 0 0 1px rgba(80,80,80,0.5), 0 0 2.5px rgba(80,80,80,0.2);
}

.spotboard-container .team-penalty {
    display: block;
    float: right;
    padding-top: 0.3em;
    width: 3.5em;
    text-align: right;
}

.spotboard-container .team-penalty:after {
    content: " min.";
    font-size: 0.5em;
}

